<!DOCTYPE html>
<html lang="Zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="django vagmr learn">
    <meta name="description" content="vagmr is learning django">
    <meta name="author" content="vagmr">
    {% block head %}
        
    {% endblock head %}
        
    <title>Django Learn</title>
</head>
<body>
    <p>欢迎来到Django,base.html</p>
    {% block content %}
        
    {% endblock content %}
        
</body>
</html>