<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="vagmr is learning django">
  <meta name="author" content="vagmr">
  <meta name="keywords" content="django vagmr react">
  <title>django_react</title>
  <script type="module" crossorigin src="/static/js/main-uIS3STnu.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>